{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
    <h5 class="card-title">{{object.name}}</h5>
    {% for chatroom in object_list %}
    <p></p>
    {% endfor %}
    <div class="card">
        <div class="card-body">
            {% for comment in object.comment_set.all %}
            <div class="comment">
                <div class="date">{{comment.name}} - <i>{{comment.created_date}}</i></div>
                <p>{{comment.comment}} <a href="{% url 'chat:edit_comment' comment.id %}">Edit Comment</a></p></div>
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id='comment' class="row no-gutters mt-2 justify-content-center">
    <form class="col" data-parsley-validate method="POST" action='{% url 'chat:comment' object.id %}'>{% csrf_token %}
        {{ form|crispy }}
        <input class="comment" placeholder="Insert Comment Here..." name="comment" type="text">
        <br>
        <button class=" mt-2 btn btn-primary">Add Comment</button>
    </form>
</div>

{% endblock %}