{% extends 'base.html' %}

{% block content %}
<h1>Hello Chat App</h1>
{% if request.user.is_authenticated %}
{% for chatroom in object_list %}
<div class="row no-gutters mt-4 mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'chat:detail' chatroom.id %}">{{chatroom.name}}</a></h5>
                <p>{{ chatroom.description }}</p>
                <p>{{ chatroom.posted }}</p>
                {% if request.user.is_superuser %}
                <div class="row no-gutters mt-2">
                    <a class='btn btn-danger' href="{% url 'chat:delete' chatroom.id %}">Delete Thread</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endfor %}
<div class="row no-gutters mt-2">
    <a class='btn btn-success' href="{% url 'chat:create'%}">Start Thread</a>
</div>
{% endif %}
{% endblock content %}