@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Space+Mono|Work+Sans&display=swap');


ul {
    list-style: none;
}

#header {
    background-color: inherit;
    padding: 20px;
    color: inherit;
    animation: fadein 1s;
}

.container-fluid {
    background: linear-gradient(-45deg, #56807f, #116466, #0b3e3f, #8f745d);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    min-height: 100vh;
    color: #000;
}

.neon3 {
    animation: neon 1.5s ease-in-out infinite alternate;
}

#bottom-button {
    margin-bottom: 50px;
    animation: fadein 1s;
}

#comment {
    text-align: center;
    animation: fadein 1s;
}

input.comment {
    width: 400px;
    margin-top: 50px;
    animation: fadein 1s;
}

#greeting {
    text-align: center;
    animation: fadein 1s;
    /* animation: neon 1.5s ease-in-out infinite alternate; */
    color: #fff;
}

body {
    font-family: 'IBM Plex Sans', 'Work Sans', 'Space Mono';
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#create,
#signup,
#login,
#profile,
#edit-profile {
    color: #fff;
    text-align: center;
    background-color: #D9B08C;
    padding: 25px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    font-family: 'Space Mono';
    animation: fadein 1s;
}



#login-title,
#signup-title,
#profile-title,
#profile-edit {
    color: #D9B08C;
    text-align: center;
    margin-bottom: 30px;
    font-size: 52px;
    animation: fadein 1s;
}

#profile-img {
    width: 400px;
    margin: 50px auto;
    animation: fadein 1s;
}

#profile-country,
#profile-name {
    text-align: center;
    animation: fadein 1s;
}

* {
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#header-item a {
    color: #D9B08C;
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: inherit;
    animation: fadein 1s;
}

#header-item a:hover {
    padding: 10px;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #D9B08C, 0 0 20px #b89476, 0 0 30px #8d715a, 0 0 40px #725b49, 0 0 70px #504033, 0 0 80px #3d3127, 0 0 100px #30261e, 0 0 150px #000;
    }

    to {
        text-shadow: 0 0 5px #D9B08C, 0 0 10px #b89476, 0 0 15px #8d715a, 0 0 20px #725b49, 0 0 35px #504033, 0 0 40px #3d3127, 0 0 50px #30261e, 0 0 75px #000;
    }
}

@keyframes neon1 {
    from {
        box-shadow: 0 0 10px #D9B08C, 0 0 20px #b89476, 0 0 30px #8d715a, 0 0 40px #725b49, 0 0 70px #504033, 0 0 80px #3d3127, 0 0 100px #30261e, 0 0 150px #000;
    }

    to {
        box-shadow: 0 0 5px #D9B08C, 0 0 10px #b89476, 0 0 15px #8d715a, 0 0 20px #725b49, 0 0 35px #504033, 0 0 40px #3d3127, 0 0 50px #30261e, 0 0 75px #000;
    }
}


h1 {
    color: #D9B08C;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    animation: fadein 1s;
}

h2 {
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
    animation: fadein 1s;
}

h3 {
    animation: fadein 1s;
}

#chat-list {
    margin: 30px auto;
    padding: 20px;
    font-size: 32px;
    animation: fadein 1s;
}

#chat-list:hover {
    animation: neon1 1.5s ease-in-out infinite alternate;
}

p {
    color: #fff;
    font-family: 'IBM Plex Sans';
    animation: fadein 1s;
}

h5,
h5 a {
    color: #D9B08C;
    font-size: 24px;
    animation: fadein 1s;
}

h5 a:hover {
    color: rgb(173, 140, 111);
    text-decoration: none;
    animation: fadein 1s;
}

a {
    color: #fff;
    animation: fadein 1s;
}

a:hover {
    color: #fff;
    animation: fadein 1s;
}

.card {
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    margin: 0 auto;
    animation: fadein 1s;
    /* width: 99%; */
}

.card:hover {
    /* width: 100%; */
    margin: 0 auto;
    animation: fadein 1s;
    transition: .4s ease;
    
}

.btn-success:hover {
    background-color: rgb(173, 140, 111);
    animation: fadein 1s;
}

.btn-success {
    background-color: #D9B08C;
    border: none;
    animation: fadein 1s;
}

.btn-primary {
    background-color: #116466;
    border: none;
    animation: fadein 1s;
}

.btn-primary:hover {
    background-color: #0d4b4d;
    animation: fadein 1s;
}

.btn-danger {
    background-color: #AAABB8;
    border: none;
    animation: fadein 1s;
}

.btn-danger:hover {
    background-color: #71727a;
    animation: fadein 1s;
}

.btn-dark {
    background-color: #116466;
    font-size: 12px;
    animation: fadein 1s;
}

.btn-dark:hover {
    background-color: #0d4b4d;
    animation: fadein 1s;
}

.date {
    color: #D9B08C;
    animation: fadein 1s;
}