@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Space+Mono|Work+Sans&display=swap');

ul {
    list-style: none;
}

#header {
    background-color: inherit;
    padding: 20px;
    color: inherit;
}

.container-fluid {
    background: linear-gradient(-45deg, #56807f, #116466, #0b3e3f, #8f745d);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    min-height: 110vh;
    color: #000;
}

#comment {
    text-align: center;
}
input.comment {
    width: 600px;
    margin-top: 50px;
}
#greeting {
    text-align: center;
}
body {
    font-family: 'IBM Plex Sans','Work Sans', 'Space Mono';
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#create, #signup, #login, #profile {
    color: #fff;
    text-align: center;
    background-color: #D9B08C;
    padding: 25px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    font-family: 'Space Mono';
}



#login-title, #signup-title, #profile-title {
    color: #D9B08C;
    text-align: center;
    margin-bottom: 30px;
    font-size: 52px;
}

#profile-img {
    width: 400px;
    margin: 50px auto;
}

#profile-country, #profile-name {
    text-align: center;
}

#header-item a{
    color: #D9B08C;
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: inherit;
}

#header-item a:hover {
    padding: 10px;
    border-radius: 20px;
    background-color: #161616;
    transition: .6s ease;
}


h1 {
    color: #000;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
}

#chat-list {
    margin: 30px auto;
    padding: 20px;
    font-size: 32px;
}

p {
    color: #fff;
    font-family: 'IBM Plex Sans';
}

h5, a {
    color: #D9B08C;
    font-size: 24px;
}

a:hover {
    color:rgb(173, 140, 111);
    text-decoration: none;
}

.card {
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
}

.btn-success:hover {
    background-color: rgb(173, 140, 111);
}

.btn-success {
    background-color: #D9B08C;
    border: none;
}

.btn-primary {
    background-color: #116466;
    border: none;
}

.btn-primary:hover {
    background-color: #0d4b4d;
}

.btn-danger {
    background-color: #AAABB8;
    border: none;
}

.btn-danger:hover {
    background-color: #71727a;
}

.date {
    color: #D9B08C;
}
