<ul id="header" class='navbar row no-gutters'>
    <li id="header-item"><a href="{% url 'chat:index' %}" class="col">Home</a></li>
    {% if request.user.is_authenticated %}
    <li id="header-item"><a href="{% url 'chat:create' %}" class="col">Add Thread</a></li>
    <li id="header-item"><a href="{% url 'accounts:profile_detail' object.id %}" class="col">Profile</a></li>
    <li id="header-item"><a href="{% url 'logout' %}" class="col">Logout</a></li> 
    {% else %}
    <li id="header-item"><a href="{% url 'login' %}" class="col">Login</a></li> 
    <li id="header-item"><a href="{% url 'accounts:signup' %}" class="col">Get Started</a></li>
    {% endif %}
    {% if request.user.is_superuser %} 
    {% endif %}
</ul>